* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 1145.9px;
  margin: 100px auto;
}
/* oooo */
.grid {
  display: grid;
  grid-template-columns: 550px 250px 265px;
  column-gap: 40px;
  row-gap: 30px;
  width: 1100px;
  /* background-color: violet; */
  width: 1145.9px;
}

.all-name-job {
  margin-left: 12px;
}
/* DANIEL */
.daniel-box {
  background-color: #733fcb;
  width: 550px;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 15px 15px 30px #adb2b8;
  background-image: url(quoate.svg);
  background-size: 97px;
  background-repeat: no-repeat;
  background-position: 382px 0;
  align-self: flex-start;
}
.daniel-img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: 2px solid #9c8eb6;
}
.daniel-name-job {
  display: flex;
  margin-bottom: 15px;
}
.daniel-name {
  color: #f1f3f5;
  font-size: 13px;
  margin-bottom: 4px;
}
.daniel-job {
  color: #ced4da;
  font-size: 10px;
}
.daniel-firstp {
  color: white;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.2;
  line-height: 1.2;
}
.daniel-secondp {
  color: #ced4da;
  font-size: 12px;
  line-height: 1.3;
}
/* JONATHAN */
.jonathan-box {
  background-color: #495669;
  width: 250px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #adb2b8;
  align-self: flex-start;
}
.jonathan-img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}
.jonathan-name-job {
  display: flex;
  margin-bottom: 15px;
}
.jonathan-name {
  color: #f1f3f5;
  font-size: 13px;
  margin-bottom: 4px;
}
.jonathan-job {
  color: #ced4da;
  font-size: 10px;
}
.jonathan-firstp {
  color: white;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.2;
}
.jonathan-secondp {
  color: #ced4da;
  font-size: 12px;
  line-height: 1.3;
}
/* JEANETTE */
.jeanette-box {
  background-color: white;
  width: 255px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #adb2b8;
  grid-column: 1/2;
  /* grid-row: 1/2; */
  transform: translate(0px, -278.2px);
}
.jeanette-jpg {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}
.jeanette-name-job {
  display: flex;
  margin-bottom: 15px;
}
.jeanette-name {
  color: #65686f;
  font-size: 13px;
  margin-bottom: 4px;
}
.jeanette-job {
  color: #65686f;
  font-size: 10px;
}
.jeanette-firstp {
  color: #33383f;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.2;
}
.jeanette-secondp {
  color: #65686f;
  font-size: 12px;
  line-height: 1.3;
}
/* PATRICK */
.patrick-box {
  background-color: #191f2d;
  width: 550px;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 15px 15px 30px #adb2b8;
  grid-column: 1/2;
  transform: translate(290.1px, -558px);
}

.patrick-img {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: 2px solid #9c8eb6;
}
.patrick-name-job {
  display: flex;
  margin-bottom: 15px;
}
.patrick-name {
  color: #f1f3f5;
  margin-bottom: 4px;
  font-size: 13px;
}
.patrick-job {
  color: #ced4da;
  font-size: 10px;
}
.patrick-firstp {
  color: white;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.2;
}
.patrick-secondp {
  color: #ced4da;
  font-size: 12px;
  line-height: 1.3;
}
/* KIRA */
.kira-box {
  background-color: white;
  width: 265px;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 15px 15px 30px #adb2b8;
  grid-column: 3/4;
  grid-row: 1/-1;
  align-self: stretch;
}
.kira-jpg {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}
.kira-name-job {
  display: flex;
  margin-bottom: 15px;
}
.kira-name {
  color: #3d3f43;
  font-size: 13px;
  margin-bottom: 4px;
}
.kira-job {
  color: #65686f;
  font-size: 10px;
}
.kira-firstp {
  color: #33383f;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.2;
}
.kira-secondp {
  color: #65686f;
  font-size: 12px;
  line-height: 1.3;
}
